
/.vs
/build-vs-debug
/c\#/VarjoOpenIrisDotNetApp/obj
/c\#/VarjoOpenIrisDotNetApp/bin
/c\#/VarjoOpenIrisPlugin/obj
/c\#/VarjoOpenIrisPlugin/bin
/c\#/.vs/VarjoOpenIrisDotNetApp/FileContentIndex
/c\#/.vs
/src/.vs
/src/build-vs-debug
/c\#/VarjoOpenIrisPluginFramework/obj
/c\#/VarjoOpenIrisTestAppFramework/bin
c\#/VarjoOpenIrisTestAppFramework/obj/Debug/VarjoOpenIrisTestAppFramework.csproj.AssemblyReference.cache
c\#/VarjoOpenIrisTestAppFramework/bin/Debug/VarjoOpenIrisPluginFramework.dll
c\#/VarjoOpenIrisTestAppFramework/bin/Debug/VarjoOpenIrisPluginFramework.pdb
c\#/VarjoOpenIrisPluginFramework/obj/Debug/VarjoOpenIrisPluginFramework.pdb
c\#/VarjoOpenIrisPluginFramework/obj/Debug/VarjoOpenIrisPluginFramework.dll
c\#/VarjoOpenIrisPluginFramework/bin/Debug/VarjoOpenIrisPluginFramework.pdb
c\#/VarjoOpenIrisPluginFramework/bin/Debug/VarjoOpenIrisPluginFramework.dll
/c\#/VarjoOpenIrisPluginFramework/bin
